
<form method="get" action="/quizes">
	<div align="center">

		Encuentre sus preguntas: 
		<input type="text" size=25 placeholder="Introduzca texto aquí" name="search" id="search"/>

		<input type="submit" value="Buscar"/>
		

	</div>

</form>

<p>
	<a href="/quizes/new" alt="Crear una nueva pregunta" title="Crear una nueva pregunta">Crear pregunta</a>
</p>

<table border="0" cellspacing="4" cellpadding="4">
<% for(var i=0;i<quizes.length;i++){ %>
	<tr>
		<td width="5px">&nbsp;</td>
		<td><a href="/quizes/<%=quizes[i].id %>"><%= quizes[i].pregunta %></a> </td>
		<td><script type="text/javascript">document.write(primeraLetraMayusculas('<%=quizes[i].categoria%>'));
			</script>
		<td><a href="/quizes/<%=quizes[i].id %>/edit" border="0" alt="Editar la pregunta" title="Editar la pregunta">
	<button>Editar</button></a>
		</td>
		<td>
		<!-- BORRADO DE LA PREGUNTA POR POST, AUNQUE SE HACE UN METHOD-OVERRIDE, Y SE CAMBIA POR DELETE -->

		<form method="POST" action="/quizes/<%=quizes[i].id%>?_method=DELETE">
			
			<button type="submit" onClick="return confirm('Eliminar <%=quizes[i].pregunta%> ');">Eliminar</button>
			
		</form>
		</td>
	</tr>	
<%	
}
%>
</table>

