
<form method="get" action="/quizes">
	<div align="center">

		Encuentre sus preguntas: 
		<input type="text" size=25 placeholder="Introduzca texto aquí" name="search" id="search"/>

		<input type="submit" value="Buscar"/>
		

	</div>

</form>

<p>
	<a href="/quizes/new" alt="Crear una nueva pregunta" title="Crear una nueva pregunta">Crear pregunta</a>
</p>


<!--
<ul>
<% for(var i=0;i<quizes.length;i++){ %>
	
	<li><a href="/quizes/<%=quizes[i].id %>"><%= quizes[i].pregunta %></a> &nbsp;
	<a href="/quizes/<%=quizes[i].id %>/edit" border="0" alt="Editar la pregunta" title="Editar la pregunta">
	<button>Editar</button></a></li>

	

<%	
}
%>
</ul>
-->

<table border="0" cellspacing="4" cellpadding="4">
<% for(var i=0;i<quizes.length;i++){ %>
	<tr>
		<td width="5px">&nbsp;</td>
		<td><a href="/quizes/<%=quizes[i].id %>"><%= quizes[i].pregunta %></a> </td>
		<td><a href="/quizes/<%=quizes[i].id %>/edit" border="0" alt="Editar la pregunta" title="Editar la pregunta">
	<button>Editar</button></a>
		</td>
	</tr>	
<%	
}
%>
</table>

