
<form method="GET" action="/quizes/<%=quiz.id%>/answer">
    <p><%= quiz.pregunta %></p>
    <input type="text" name="respuesta" id="respuesta" size="30" placeholder="Introduzca la respuesta">
    <input type="submit" value="Enviar">
</form>

<p>
	<a href="/quizes/<%=quiz.id%>/comments/new">Añadir comentario</a>
</p>


<% 
	console.log("Número de comentarios: " + quiz.Comments.length)
	if(quiz.Comments!=undefined && quiz.Comments.length>=1) {

%>
	<p>
		<!-- Lista de comentarios de la pregunta -->
		Comentarios:
	</p>

	<p>

<%		
	for(var i=0;i<quiz.Comments.length;i++) { %>

	<% 
		// Se muestra el comentario sólo si está publicado, o si el usuario
		// está autenticado
		if(quiz.Comments[i].publicado || session.user) { %>
			<p> - <%=quiz.Comments[i].texto %> 

		

			<%
				// Se mostrará el botón publicar, sólo si el usuario está autenticado y el 
				// comentario no está publicado
				if(!quiz.Comments[i].publicado && session.user) {
			%>


				<form method="POST" action="/quizes/<%=quiz.id %>/comments/<%=quiz.Comments[i].id%>/publish?_method=PUT">

				&nbsp;<button type="submit" name="btnPublicar" alt="Publicar" title="Publicar">Publicar</button>
				</form>
			<%					
				} 
			%>

			</p>
	<%
		} // if	
	} // for
  }// if
%>
	</p>