
<form method="GET" action="/quizes/<%=quiz.id%>/answer">
    <p><%= quiz.pregunta %></p>
    <input type="text" name="respuesta" id="respuesta" size="30" placeholder="Introduzca la respuesta">
    <input type="submit" value="Enviar">
</form>

<p>
	<a href="/quizes/<%=quiz.id%>/comments/new">Añadir comentario</a>
</p>


<% 
	console.log("Número de comentarios: " + quiz.Comments.length)
	if(quiz.Comments!=undefined && quiz.Comments.length>=1) {

%>
	<p>
		<!-- Lista de comentarios de la pregunta -->
		Comentarios:
	</p>

	<p>

	<table border="0" cellspacing="2" cellpadding="2">
<%		
	for(var i=0;i<quiz.Comments.length;i++) { %>

	<% if(quiz.Comments[i].publicado || session.user) { %>
	<tr>
		<td>&nbsp;</td>
		<td>- <%=quiz.Comments[i].texto %> </td>
		<td>
		<% 
			// Si el comentario no está publicado y el usuario está autenticado 
		    if(!quiz.Comments[i].publicado && session.user) { 
		%>

			<!-- Botón de publicación de comentarios para usuarios autenticados -->
			<form method="POST" action="/quizes/<%=quiz.id %>/comments/<%=quiz.Comments[i].id%>/publish?_method=PUT">

			<button type="submit" name="btnPublicar" alt="Publicar <%=quiz.Comments[i].texto%>" title="Publicar <%=quiz.Comments[i].texto%>">Publicar</button>
			</form>

		<% } %>	
		</td>
	</tr>	

	<% } %>
	<% } %>

	
	</table>
	</p>

<% } %>	