<p> Número total de preguntas: <%= estadistica.numTotalPreguntas %></p>
<p> Número total de comentarios: <%= estadistica.numTotalComentarios %></p>
<p> Número medio de comentarios por pregunta: <%= estadistica.numMedioComentariosPorPregunta %></p>
<p> Número total de preguntas con comentarios: <%= estadistica.numTotalPreguntasConComentarios %></p>
<p> Número total de preguntas sin comentarios: <%= estadistica.numTotalPreguntasSinComentarios %>
</p>
